
/* BODY */

body,
html {
  margin: 0;
  overflow-x: hidden;
  background: #ffff;
  font-family: "Roboto", sans-serif;
  text-align: center;
}


/* CONTAINER */

.container {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* FONT */

h1 {
    color: white;
    font-size: 65px;
    font-weight: 700;
    margin: 40px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 20px;
    font-weight: 200;
    line-height: 1.5;
    color: white;
}


/* HEADER WITH HEROPICTURE */

header {
  /* The "linear-gradient" gives a darker feeling to the her image*/
  background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/Crossfit_team_high_five.jpg");
  /* To make the her picture cover the screen */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  /* The image change size on all screens */
  position: relative;
}

/*nav bar becomes hamburger model*/
/*this div becomes the container for the hamburger menu,  display flex*/
/*same height and width to make it a square*/
/*flex/direction column to make them separate*/
/*justify content to make them spread out / space between the lines*/
/*margin right for space between the hamburger and logo*/

.hamburger {
  display: flex;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
}
 
  /* lines for the hamburger menu, same width as the container, but thinner*/ 
.hamburger div {
  width: 30px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
}

  /*the nav is hidden on the small screen*/
nav {
  display: none;
}

/* BUTTON */

header a {
  color: white;
  border: white solid;
  border-radius: 40px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 25px;
  display: inline-block;
}


/* THE ICONS with pictures */

.icons {
  /* display: flex; */
  justify-content: center;
  align-items: top; 
}

.icon {
  margin: 40px;
}

.icon img {
  width: 400px;
}


/* ABOUT US */

.about-us {
  background-color: #dcdcdc;
}

*******FOR MORE WITH SOCIAL MEDIA ICON**********

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.social-media {
  display: flex;
  text-align: center;
  padding: 20px 0;
  flex-wrap: wrap;
  justify-content: center;
}

.sm-Circle {
  width: 59px;
  height: 59px;
  border: 3px solid #fa382f;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-mediaImg {
  width: 22px;
  height: 22px;
}

/* FOOTER */

footer .container {
  background-color: #151515;
  color: white;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

footer a {
  color: white;
}

/*******MEDIA QUERIES *********/

@media (min-width: 650px) {
    
  .icons {
    display: flex;
    justify-content: center;
    align-items: top;  
  }
  
  /*Show the navbar and hide the hamburger in this size*/

  nav {
    display: inline-block;
    text-align: center;
  }
  .hamburger {
    display: none;
  }
}

  